/* Query Section */

.root-query-section {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.queries-header-root {
  display: flex;
  width: 100%;
}
.queries-header-root h4 {
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(52, 71, 103);
}
.hr-tag {
  border-top: 1px solid rgb(52, 71, 103);
}
